---
layout: default
---

<div class='two-col'>
  <div>
    <div>
      <img src="/assets/images/portrait.jpg" alt="" />
    </div>
    <div>
      <ul class='tool-list'>
        <li> 
          {% include skill-list.html %}
        </li>
        <li> 
          {% include tool-list.html %}
        </li>
      </ul>
    </div>
    <div style="height:40px;"> </div>
  </div>

  <div>
    <img src="/assets/images/katahdin.jpg" alt="" style="max-width:250px;" />
    <p>
      {% include bio.md %}
    </p>
  </div>
</div>
  
