---
layout: default
---

<div class="two-col">
  <div>
    <h1>Anthony S. Gray</h1>
    <h3>Life and Data Scientist</h3>
  </div>
  <div>
    <h3>Latest Blog Post</h3>
    <a class="preview" href=" {{ site.posts[0].url}} ">
      <div>
        {{ site.posts[0].title }} {{ site.posts[0].excerpt }}
      </div>
    </a>
  </div>

</div>
<div>
  <h2>Projects</h2>
  <div class="prev-grid">
    {% for project in site.projects %}
      {% include projectpreview.html %}
    {% endfor %}
  </div>
</div>
