<div class="navbar navbar-expand-sm">
  {% for item in site.data.navigation %}
    <a class = 'nav_element' href='{{ site.url | append: item.link }}' {% if page.url == item.link %} class='current' {% endif %}> 
      <div> {{ item.name }} </div> 
    </a>
  {% endfor %}

    <a href="https://www.linkedin.com/in/anthony-s-gray" target='_blank'>
      <img class = 'nav_element' src="/assets/images/LI-Logo.png" alt="linkedin"/>
    </a>
    <a href="https://github.com/asgray" target='_blank'>
      <img class = 'nav_element' src="/assets/images/GitHub_Logo.png" alt="github"/> 
    </a>
</div>
<div style="height:40px;"> </div>
