<div class='center-left'>
    <h3>Skills</h3>
    <ul>
      <li>Scientific Programming
        <ul>
          <li>Statistical Modeling</li>
          <li>Machine Learning</li>
          <li>Data Visualization</li>
        </ul>
      </li>
      <li>Data Processing
        <ul>
          <li>Database Design</li>
          <li>Data Pipelines</li>
        </ul>
      </li>
      <li>Molecular Biology</li>
      <li>Genetics and Genomics
        <ul>
          <li>Personalized Medicine</li>
          <li>Metagenomics</li>
        </ul>
      </li>
    </ul>
  </div>