<div class='center-left'>
    <h3>Tools</h3>
    <ul>
      <li>Languages
        <ul>
          <li>Python
            <ul>        
              <li>pandas</li>
              <li>Scikit-Learn</li>
              <li>BioPython</li>
            </ul>
          </li>
          <li>Javascript
            <ul>
              <li>TypeScript</li>
            </ul>
          </li>
          <li>Rust</li>
          <li>Bash</li>
          <li>R
            <ul>
              <li>R Shiny</li>
              <li>ggplot2</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Full Stack Development
        <ul>
          <li>Django</li>
          <li>React.js</li>
          <li>Cypress</li>
          <li>Angular</li>
          <li>Express.js</li>
          <li>Node.js</li>
        </ul>
      </li>
      <li>Data Management
        <ul>
          <li>MySQL</li>
          <li>PostgreSQL</li>
        </ul>
      </li>
      <li>Scientific Computing
        <ul>
          <li>Docker/Docker Compose</li>
          <li>Singularity/Apptainer</li>
          <li>Slurm</li>
          <li>Nextflow</li>
          <li>Google Cloud</li>
        </ul>
      </li>
      <li>Web Technologies
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>REST API</li>
          <li>Postman</li>
        </ul>
      </li>
    </ul> 
  </div>