<div class='center-left'>
    <h3>Tools</h3>
    <ul>
      <li>Python
        <ul>        
          <li>Django</li>
          <li>pandas</li>
          <li>Scikit-Learn</li>
          <li>BioPython</li>
        </ul>
      </li>
      <li>
        Javascript
        <ul>
          <li>React.js</li>
        </ul>
      </li>
      <li>R</li>
      <li>SQL
        <ul>
          <li>MySQL</li>
          <li>PostgreSQL</li>
        </ul>
      </li>
      <li>Docker</li>
      <li>HTML and CSS</li>
      <li>Google Cloud</li>
    </ul> 
  </div>