:root {
  --strong-green: #7bb601;
  --light-green: #b3cf32;
  --light-grey: #d3d3d3;
  --medium-grey: #bdbdbd;
  --dark-grey: #808080;
}

body {
  background-color: var(--medium-grey);
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2 {
  color: var(--dark-grey);
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
.current > a {
  background-color: green;
}

.wrapper {
  display: grid;
}
.navbar {
  background-color: whitesmoke;
  font-size: 20px;
  position: fixed;
  top: 0px;
  margin: 0 auto;
  width: 84%;
  margin-left: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 5vh;
}
.nav_element {
  width: 100px;
  height: auto;
  padding: 5px;
  font-weight: bold;
}

.header {
  background-image: url("/assets/images/Microarray.jpg");
  background-color: darkgreen;
  height: 50vh;
  // width: 100%;
  // position: fixed;
  z-index: -1;
  // top: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.navspacer {
  margin-top: 8vh;
}
// .main {
//   margin-top: 40%;
// }

.prev-grid {
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(400px, 1fr);
  grid-gap: 0.25em;
}

.preview {
  background: var(--light-grey);
  display: grid;
  grid-auto-rows: 3fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--light-grey);
}
.preview:hover {
  border-color: var(--strong-green);
}
.thumb > img {
  max-width: 300px;
  max-height: 300px;
}

.about {
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
}
.bio {
  grid-column: 1;
  grid-row: 1/2;
}
.summary {
  grid-row: 1;
  grid-column: 2/4;
}
.skills {
  grid-column: 2;
  grid-row: 2;
}
.tech {
  grid-column: 3;
  grid-row: 2;
}
